syntax:glob
cache/**
log/**
web/sf
lib/model/doctrine/base/**
lib/form/doctrine/base/**
config/databases.yml
log
*.orig
apps/public/config/environments
apps/public/config/app.yml
apps/public/config/factories.yml
apps/public/config/settings.yml
config/environments
.idea